.details{
    background-color: aliceblue;
    width: 50%;
    height: 60vh;
    border: 3px;
    margin-top: -20%;
    margin-left: 15%;
    margin-bottom: 5%;
    box-shadow: 2rem 2rem 2rem;
}
.card-btn{
    margin: 40%;
}